<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitor.system.mapper.BehaviorMapper">

    <resultMap id="BaseResultMap" type="com.monitor.system.model.domain.Behavior">
            <id property="behaviorId" column="behavior_id" jdbcType="BIGINT"/>
            <result property="behaviorCode" column="behavior_code" jdbcType="TINYINT"/>
            <result property="severityLevel" column="severity_level" jdbcType="TINYINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="detectionMethod" column="detection_method" jdbcType="TINYINT"/>
            <result property="isActive" column="is_active" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        behavior_id,behavior_code,severity_level,
        description,detection_method,is_active,
        create_time,update_time,del_flag
    </sql>
</mapper>
